<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Parquet Preview Extension</string>
  <key>CFBundleExecutable</key>
  <string>ParquetPreviewExtension</string>
  <key>CFBundleIdentifier</key>
  <string>com.rkrug.parquetindexer.previewhost.preview</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>ParquetPreviewExtension</string>
  <key>CFBundlePackageType</key>
  <string>XPC!</string>
  <key>CFBundleShortVersionString</key>
  <string>0.2.0</string>
  <key>CFBundleVersion</key>
  <string>3</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSExtension</key>
  <dict>
    <key>com.apple.showsInExtensionsManager</key>
    <false/>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>QLIsDataBasedPreview</key>
      <true/>
      <key>QLSupportedContentTypes</key>
      <array>
        <string>com.rkrug.parquet</string>
        <string>dyn.ah62d4rv4ge81a2pwsf40n7a</string>
      </array>
      <key>QLSupportsSearchableItems</key>
      <false/>
    </dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.quicklook.preview</string>
    <key>NSExtensionPrincipalClass</key>
    <string>PreviewProvider</string>
  </dict>
</dict>
</plist>
